USE [QLCH]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 6/1/2019 8:17:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MAHD] [varchar](10) NOT NULL,
	[MASP] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [int] NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETHOADON_NHAP]    Script Date: 6/1/2019 8:17:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETHOADON_NHAP](
	[MAHD] [varchar](10) NOT NULL,
	[MASP] [varchar](10) NOT NULL,
	[DONGIA] [int] NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_CHITTIETHOADON_NHAP] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 6/1/2019 8:17:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [varchar](10) NOT NULL,
	[MAKH] [varchar](10) NULL,
	[NGAYLAP] [date] NULL,
	[NGUOILAP] [varchar](10) NULL,
	[TRANG_THAI] [bit] NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADONNHAP]    Script Date: 6/1/2019 8:17:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADONNHAP](
	[MAHD] [varchar](10) NOT NULL,
	[NGUOILAP] [varchar](10) NULL,
	[NGAYLAP] [date] NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_HOADONNHAP] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 6/1/2019 8:17:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [varchar](10) NOT NULL,
	[TENKH] [nvarchar](30) NULL,
	[NGSINH] [date] NULL,
	[PHAI] [nvarchar](5) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [varchar](10) NULL,
	[DIEM_TICH_LUY] [int] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 6/1/2019 8:17:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](10) NOT NULL,
	[TEN_NV] [nchar](20) NULL,
	[NGSINH] [date] NULL,
	[PHAI] [nchar](5) NULL,
	[DIACHI] [nchar](50) NULL,
	[SDT] [varchar](10) NULL,
	[LUONG] [float] NULL,
	[TAIKHOAN] [varchar](30) NULL,
	[MATKHAU] [varchar](30) NULL,
	[LOAI] [varchar](20) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 6/1/2019 8:17:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [varchar](10) NOT NULL,
	[TENSP] [nchar](20) NULL,
	[NHASX] [nchar](20) NULL,
	[GIA] [float] NULL,
	[MIEUTA] [nchar](50) NULL,
	[SL_TONKHO] [int] NULL,
	[IMAGE] [varchar](50) NULL,
	[LOAI] [nchar](20) NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UUDAI]    Script Date: 6/1/2019 8:17:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UUDAI](
	[CHIETKHAU] [int] NULL,
	[DIEUKIEN] [int] NULL
) ON [PRIMARY]

GO
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MASP], [SOLUONG], [DONGIA]) VALUES (N'HD001', N'SP001', 2, 50000)
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MASP], [SOLUONG], [DONGIA]) VALUES (N'HD002', N'SP002', 1, 10000)
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MASP], [SOLUONG], [DONGIA]) VALUES (N'HD003', N'SP001', 2, 50000)
INSERT [dbo].[HOADON] ([MAHD], [MAKH], [NGAYLAP], [NGUOILAP], [TRANG_THAI]) VALUES (N'HD001', N'KH002', CAST(N'2019-06-01' AS Date), N'NV001', 1)
INSERT [dbo].[HOADON] ([MAHD], [MAKH], [NGAYLAP], [NGUOILAP], [TRANG_THAI]) VALUES (N'HD002', N'KH005', CAST(N'2019-06-01' AS Date), N'NV001', 1)
INSERT [dbo].[HOADON] ([MAHD], [MAKH], [NGAYLAP], [NGUOILAP], [TRANG_THAI]) VALUES (N'HD003', N'KH005', CAST(N'2019-06-01' AS Date), N'NV002', 1)
INSERT [dbo].[HOADONNHAP] ([MAHD], [NGUOILAP], [NGAYLAP], [TRANGTHAI]) VALUES (N'HD001', N'NV001', CAST(N'2019-05-31' AS Date), 1)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [NGSINH], [PHAI], [DIACHI], [SDT], [DIEM_TICH_LUY]) VALUES (N'KH001', N'Trương Văn Ty', CAST(N'2019-05-28' AS Date), N'Nam', N'LaGi - Bình Thuận', N'0392422303', 300)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [NGSINH], [PHAI], [DIACHI], [SDT], [DIEM_TICH_LUY]) VALUES (N'KH002', N'Nguyễn Thúy Ba', CAST(N'2019-05-31' AS Date), N'Nữ', N'Lagi - Bình Thuận', N'0392422303', 0)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [NGSINH], [PHAI], [DIACHI], [SDT], [DIEM_TICH_LUY]) VALUES (N'KH003', N'Nguyễn Thúy Ba', CAST(N'2019-05-31' AS Date), N'Nữ', N'Lagi - Bình Thuận', N'0392422303', 0)
INSERT [dbo].[NHANVIEN] ([MANV], [TEN_NV], [NGSINH], [PHAI], [DIACHI], [SDT], [LUONG], [TAIKHOAN], [MATKHAU], [LOAI]) VALUES (N'NV001', N'Trương Văn Ty       ', CAST(N'1998-08-16' AS Date), N'Nam  ', N'Khu Phố 7 , phước lộc, lagi-bình th               ', N'0392422303', 200000, N'truongvanty', N'123456', N'admin')
INSERT [dbo].[NHANVIEN] ([MANV], [TEN_NV], [NGSINH], [PHAI], [DIACHI], [SDT], [LUONG], [TAIKHOAN], [MATKHAU], [LOAI]) VALUES (N'NV002', N'Nguyễn Thái Hòa     ', CAST(N'1999-05-17' AS Date), N'Nam  ', N'TP HCM                                            ', N'0939067510', 170000, N'thungan', N'123456', N'ThuNgan')
INSERT [dbo].[NHANVIEN] ([MANV], [TEN_NV], [NGSINH], [PHAI], [DIACHI], [SDT], [LUONG], [TAIKHOAN], [MATKHAU], [LOAI]) VALUES (N'NV003', N'Lê Phú Tấn          ', CAST(N'1999-04-03' AS Date), N'Nam  ', N'TP Long An                                        ', N'0966839020', 170000, N'thukho', N'123456', N'ThuKho')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [NHASX], [GIA], [MIEUTA], [SL_TONKHO], [IMAGE], [LOAI], [TRANGTHAI]) VALUES (N'SP001', N'Chuột               ', N'Zadez               ', 50000, N'Chuột có dây, 1600dpi, USB  3.0.                  ', 13, N'chuot_m266.jpg', N'Phụ Kiện            ', 1)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [NHASX], [GIA], [MIEUTA], [SL_TONKHO], [IMAGE], [LOAI], [TRANGTHAI]) VALUES (N'SP002', N'Bàn phím            ', N'Dell                ', 10000, N'Bàn phím có dây , gaming , USB 2.0.               ', 6, N'banphim.jpg', N'Phụ Kiện            ', 1)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [NHASX], [GIA], [MIEUTA], [SL_TONKHO], [IMAGE], [LOAI], [TRANGTHAI]) VALUES (N'SP003', N'CPU                 ', N'Intel               ', 3000000, N'CPU core i7-6730M, 3.50Ghz                        ', 20, N'cpu_i7.jpg', N'Linh Kiện           ', 1)
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_HOADON]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_SANPHAM]
GO
ALTER TABLE [dbo].[CHITIETHOADON_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITTIETHOADON_NHAP_HOADONNHAP] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADONNHAP] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETHOADON_NHAP] CHECK CONSTRAINT [FK_CHITTIETHOADON_NHAP_HOADONNHAP]
GO
ALTER TABLE [dbo].[CHITIETHOADON_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITTIETHOADON_NHAP_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETHOADON_NHAP] CHECK CONSTRAINT [FK_CHITTIETHOADON_NHAP_SANPHAM]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([NGUOILAP])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_HOADONNHAP_NHANVIEN] FOREIGN KEY([NGUOILAP])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADONNHAP] CHECK CONSTRAINT [FK_HOADONNHAP_NHANVIEN]
GO
